/.github
/app
/config
/lib
/node_modules
/spec
/*.gem
/.eslintrc.js
/.gitignore
/.travis.yml
/.rspec
/.rubocop.yml
/CODE_OF_CONDUCT.md
/CONTRIBUTING.md
/PULL_REQUEST_TEMPLATE.md
/Gemfile*
/pwa.gemspec
/yarn.lock
